@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full w-full m-0 p-0;
  font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  @apply h-full;

  /* colors */
  --context-menu: rgba(246, 246, 246, 0.95);
  --custom-blue: #0A82FF;
}

.no-scroll {
  @apply overflow-hidden;
}